### Assignment-01 (List)
- Change the notebook name with your name and Roll Number.
- Try this as your own, no chatgpt (it's for your learning)
- after completing the assignment, submit this book on google class room.

Create an empty list and print it.

In [1]:
list_comm=[]
list_comm

[]

Create a list of your favorite colors and print it.

In [2]:
list_comm=['Orange','Black','Green','Blue']
list_comm

['Orange', 'Black', 'Green', 'Blue']

Create a list that includes a mix of data types (integers, strings, floats).

In [3]:
list_comm=['Abdul Moeed',687,"New",987.7,1234,'Hello']
list_comm

['Abdul Moeed', 687, 'New', 987.7, 1234, 'Hello']

Access the first element of a list.

In [4]:
list_comm[0]

'Abdul Moeed'

Access the last element of a list.

In [5]:
list_comm[len(list_comm)-1]

'Hello'

 Access the second and third elements of a list.

In [6]:
second=list_comm[1]
print(second)
third=list_comm[2]
print(third)

687
New


Slice a list to extract the first three elements.

In [7]:
list_comm[0:3]

['Abdul Moeed', 687, 'New']

Slice a list to extract the last three elements.

In [8]:
list_comm[-3:]

[987.7, 1234, 'Hello']

Slice a list to get every second element.

In [9]:
list_comm[::2]

['Abdul Moeed', 'New', 1234]

Reverse a list using slicing.

In [10]:
list_comm[::-1]

['Hello', 1234, 987.7, 'New', 687, 'Abdul Moeed']

 Create two lists and concatenate them.

In [19]:
newlist=['Orange','Black','Green','Blue',98,1024.76]
concatlist=list_comm+newlist
concatlist

['Orange', 'Black', 'Green', 'Blue', 98, 1024.76]

['Abdul Moeed',
 687,
 'New',
 987.7,
 1234,
 'Hello',
 'New_element',
 'Orange',
 'Black',
 'Green',
 'Blue',
 98,
 1024.76]


Repeat a list multiple times using the repetition operator

In [12]:
list_comm*2

['Abdul Moeed',
 687,
 'New',
 987.7,
 1234,
 'Hello',
 'Abdul Moeed',
 687,
 'New',
 987.7,
 1234,
 'Hello']

Add a new element to the end of a list using the append() method.

In [13]:
list_comm.append('New_element')
list_comm

['Abdul Moeed', 687, 'New', 987.7, 1234, 'Hello', 'New_element']


Extend a list with elements from another list using the extend() method.

In [21]:
list_comm.extend(newlist)
list_comm

['Abdul Moeed',
 687,
 'New',
 987.7,
 1234,
 'Hello',
 'New_element',
 'Orange',
 'Black',
 'Green',
 'Blue',
 98,
 1024.76,
 'Orange',
 'Black',
 'Green',
 'Blue',
 98,
 1024.76]

Insert an element at a specific index in a list using the insert() method.

In [23]:
newlist.insert(2,'Lion')
newlist

['Orange', 'Black', 'Lion', 'New Value', 'Green', 'Blue', 98, 1024.76]

 Remove the last element from a list using the pop() method.

In [25]:
pop_ele=newlist.pop()
pop_ele

98

Remove a specific element from a list using the remove() method.

In [26]:
newlist.remove("Green")

Clear all elements from a list.

In [28]:
newlist.clear()
newlist

[]

Delete an element at a specific index using the del statement.

In [29]:
del(list_comm[5])

Convert a string to a list of characters and vice-versa.

In [36]:
newstr="Bachelors"
list5=list(newstr)
print(list5)
list_into_str=' '.join(list5)
list_into_str

['B', 'a', 'c', 'h', 'e', 'l', 'o', 'r', 's']

'B a c h e l o r s'

In [1]:
Sort a list in ascending order using the sort() method.

SyntaxError: invalid syntax (2664476093.py, line 1)

In [38]:
sort_list=[897,546,3456,1234,987]
sort_list.sort()
sort_list

[546, 897, 987, 1234, 3456]

In [ ]:

Sort a list in descending order using the sort() method.

In [39]:
sort_list=[897,546,3456,1234,987]
sort_list.sort(reverse=True)
sort_list

[3456, 1234, 987, 897, 546]

Reverse the order of a list using the reverse() method.

In [41]:
sort_list=[897,546,3456,1234,987]
sort_list.reverse()
sort_list

[987, 1234, 3456, 546, 897]

Check if an element is present in a list using the in operator.

In [43]:
bool_var=987 in sort_list
bool_var

True

Compare two lists to see if they are equal in both value and identity.

In [47]:
sort_list=[675,9876,9864,45324]
sort_list_2=[675,9876,9864,45324]
if sort_list == sort_list_2 and sort_list is sort_list_2:
    print("True")
else:
    print("False")

False

Create a shallow copy of a list and modify one of the lists to observe the effects on the other.

In [63]:
import copy
shallowcopy=copy.copy(sort_list)
sort_list.append(4)
print('Copied List: ',shallowcopy)
print('Orginal List: ',sort_list)

Copied List:  [675, 9876, 9864, 45324, 4, 4, 4]
Orginal List:  [675, 9876, 9864, 45324, 4, 4, 4, 4]

Create a deep copy of a nested list and modify one of the lists to observe the effects on the other.

In [68]:
nest=[1,2,3,[4,5],6]
copied=copy.deepcopy(nest)
nest[3][1]=11
print('Orignal List: ',nest)
print('Copied: ',copied)

Orignal List:  [1, 2, 3, [4, 11], 6]
Copied:  [1, 2, 3, [4, 5], 6]

Pickle and Unpickle a list and display its content.

In [71]:
import pickle
pickled= pickle.dumps(sort_list)
pickled

b'\x80\x04\x95\x19\x00\x00\x00\x00\x00\x00\x00]\x94(M\xa3\x02M\x94&M\x88&M\x0c\xb1K\x04K\x04K\x04K\x04e.'

In [73]:
unpickled=pickle.loads(pickled)
unpickled

[675, 9876, 9864, 45324, 4, 4, 4, 4]