### Assignment-03 (SET)
- Change the notebook name with your name and Roll Number.
- Try this as your own, no chatgpt (it's for your learning)
- after completing the assignment, submit this book on google class room.

    Create an empty set and print it.

In [8]:
empty_set=set()
empty_set

set()

  Create a set of your favorite colors and print it.

In [9]:
set1={'Black','Yellow','Blue','Black'}
set1

{'Black', 'Blue', 'Yellow'}

    Create a set that includes a mix of data types (integers, strings, floats).

In [10]:
set1={'Abdul Moeed',20,'Hello',1987}
set1

{1987, 20, 'Abdul Moeed', 'Hello'}

Access the elements of a set using a loop and print each element.

In [11]:
for set in set1:
    print(set)

Abdul Moeed
20
Hello
1987

add a new element to a set using the add() method.

In [12]:
set1.add('New Element')
set1

{1987, 20, 'Abdul Moeed', 'Hello', 'New Element'}

Add multiple elements to a set using the update() method.

In [13]:
set1.update({'Email','Roll No'})
set1

{1987, 20, 'Abdul Moeed', 'Email', 'Hello', 'New Element', 'Roll No'}

Remove and return an arbitrary element from a set using the pop() method.

In [14]:
element=set1.pop()
element

1987

Remove a specific element from a set using the remove() method.

In [15]:
set1.remove('Hello')
set1

{20, 'Abdul Moeed', 'Email', 'New Element', 'Roll No'}

Remove a specific element from a set using the discard() method.

In [16]:
set1.discard(20)
set1

{'Abdul Moeed', 'Email', 'New Element', 'Roll No'}

Convert a string to a set of unique characters.

In [ ]:
newstring="hello"
set2=set(newstring)
print(set2)

Convert a set of characters to a string.

In [22]:
newstring=' '.join(set1)
newstring

'Abdul Moeed Roll No New Element Email'

Use the clear() method to remove all elements from a set.

In [23]:
set2.clear()

Use the copy() method to create a shallow copy of a set.

In [25]:
copyset=set1.copy()
print(copyset)
print(set1)

{'New Element', 'Abdul Moeed', 'Email', 'Roll No'}
{'Abdul Moeed', 'Roll No', 'New Element', 'Email'}

Use the difference() method to find the difference between two sets.

In [31]:
newset={'Babar Azam',56,'Cricket','bat','Roll No'}
diff_set=set1.difference(newset)
diff_set

{'Abdul Moeed', 'Email', 'New Element'}

Create two sets and find their union.

In [32]:
union=set1.union(newset)
union

{56,
 'Abdul Moeed',
 'Babar Azam',
 'Cricket',
 'Email',
 'New Element',
 'Roll No',
 'bat'}

    Create two sets and find their intersection.

In [33]:
inter=set1.intersection(newset)
inter

{'Roll No'}

 Create two sets and find their difference.

In [34]:
newset={'Babar Azam',56,'Cricket','bat','Roll No'}
diff_set=set1 - newset
diff_set

{'Abdul Moeed', 'Email', 'New Element'}

    Create two sets and find their symmetric difference.

In [35]:
symm=set1.symmetric_difference(newset)
symm

{56, 'Abdul Moeed', 'Babar Azam', 'Cricket', 'Email', 'New Element', 'bat'}

Check if one set is a subset of another.

In [36]:
bool=set1.issubset(newset)
bool

False

    Check if one set is a superset of another.

In [38]:
bool=set1.issuperset(newset)
bool

False

    Check if two sets are disjoint (have no common elements).

In [39]:
bool=set1.isdisjoint(newset)
bool

False