### Assignment-04 (Tuple)
- Change the notebook name with your name and Roll Number.
- Try this as your own, no chatgpt (it's for your learning)
- after completing the assignment, submit this book on google class room.

    Create an empty tuple and print it.

In [4]:
empty_tuple=()
empty_tuple

()

    Create a tuple of your favorite fruits and print it.

In [5]:
tuple1=('Mango','Apple','Orange','Apricot')
tuple1

('Mango', 'Apple', 'Orange', 'Apricot')

    Create a tuple that includes a mix of data types (integers, strings, floats).

In [6]:
tuple1=('Mango',123.87,'Apple',345,'Hello')
tuple1

('Mango', 123.87, 'Apple', 345, 'Hello')

  Access the first element of a tuple.

In [7]:
tuple1[0]

'Mango'

    Access the last element of a tuple.

In [8]:
tuple1[-1]

'Hello'

Access the second and third elements of a tuple.

In [9]:
print(tuple1[1])
print(tuple1[2])

123.87
Apple


    Slice a tuple to extract the first three elements.

In [10]:
tuple1[0:3]

('Mango', 123.87, 'Apple')

Slice a tuple to extract the last three elements.

In [11]:
tuple1[-3::]

('Apple', 345, 'Hello')

   Slice a tuple to get every second element.

In [12]:
tuple1[::2]

('Mango', 'Apple', 'Hello')

    Reverse a tuple using slicing.

In [13]:
tuple1[::-1]

('Hello', 345, 'Apple', 123.87, 'Mango')

Create two tuples and concatenate them.

In [14]:
tuple2=('Abdul Moeed',20,3,'Bsdsf21a004',345)
concat_tuple=tuple1+tuple2
concat_tuple

('Mango',
 123.87,
 'Apple',
 345,
 'Hello',
 'Abdul Moeed',
 20,
 3,
 'Bsdsf21a004',
 345)

    Repeat a tuple multiple times using the repetition operator.

In [15]:
tuple1*2

('Mango',
 123.87,
 'Apple',
 345,
 'Hello',
 'Mango',
 123.87,
 'Apple',
 345,
 'Hello')

Find the index of a specific element in a tuple using the index() method.

In [16]:
tuple1.index('Hello')

4

    Count the number of occurrences of a specific element in a tuple using the count() method.

In [17]:
concat_tuple.count(345)

2

Sort a tuple of numbers in ascending order.

In [18]:
num_tuple=(12,9,54,2,1)
tuple(sorted(num_tuple))

(1, 2, 9, 12, 54)

    Sort a tuple of strings in alphabetical order.

In [19]:
alpha_tuple=('Mango','Apple','Orange','Apricot')
sorted(alpha_tuple)

['Apple', 'Apricot', 'Mango', 'Orange']

Sort a tuple of tuples based on the second element of each inner tuple.

In [40]:
nested_tuple=(('Abdul Moeed',25),('Bsdsf21a004',5),('Fall',3))
tuple(sorted(nested_tuple, key=lambda x: x[1]))

Compare two tuples to see if they are equal in both value and identity.

In [23]:
if alpha_tuple == num_tuple:
    print(True)
else:
    print(False)
if alpha_tuple is alpha_tuple:
    print(True)
else: 
    print(False)

False
True

Create a shallow copy of a tuple and observe the effects of modifying one of the tuples.

In [32]:
import copy
shallowcopy=copy.copy(alpha_tuple)
shallowcopy=tuple(sorted(shallowcopy))
print('Copied: ',shallowcopy)
print('Original: ',alpha_tuple)

Copied:  ('Apple', 'Apricot', 'Mango', 'Orange')
Original:  ('Apple', 'Apricot', 'Mango', 'Orange')

    Create a deep copy of a nested tuple and observe the effects of modifying one of the tuples.

In [41]:
deepcopy=copy.deepcopy(nested_tuple)
deepcopy=tuple(sorted(deepcopy, key=lambda x: x[1]))
print('Copied: ',deepcopy)
print('Original: ',nested_tuple)

Copied:  (('Fall', 3), ('Bsdsf21a004', 5), ('Abdul Moeed', 25))
Original:  (('Abdul Moeed', 25), ('Bsdsf21a004', 5), ('Fall', 3))

    Pickle a tuple and save it to a file.

In [42]:
import pickle
with open('testfile.txt','wb') as work:
    pickle.dump(tuple1,work)

    Unpickle a tuple from a file and display its content.

In [44]:
with open('testfile.txt','rb') as work:
    unpickle=pickle.load(work)
print(unpickle)

('Mango', 123.87, 'Apple', 345, 'Hello')